<html>
<head>
<style>
a{text-decoration: none;}
a:link {color:#000000;}    /* unvisited link is black*/
a:visited {color:#000000;} /* visited link is black (reverse the color back to black)*/
a:hover {color:#0000FF;}   /* mouse over link (blue when mouse over)*/
a:active {color:#0000FF;}  /* selected link (blue in the split second which you loading the page.)*/
</style>
</head>
<body>
{% block content %}
    <form action="" method="POST">{% csrf_token %}
        you want to delete comment?
        <p><input type="submit" value="Yes" /> <a href="{% url 'task_edit' task_object.id  %}">Cancel</a> </p>
    </form>
{% endblock %}
</body>
</html>