<html>
    <head>
        <title>Task Management System</title>
    </head>
    <body>
    <center><font color="#00008b"><h3>Hola! {{ username }} Welcome to the Task management system</h3></font></center>
        <br><br>
        create a new task:
        <br>
        <button onclick= "window.location.href = '/create';">Create</button>
        <br><br>
        <button onclick="window.location.href = '/tasks';">All Tasks</button>
        <br><br>
        <button onclick="window.location.href = '/accounts/logout';">Logout</button>
    </body>
</html>